src/main/resources/xsd/EpaperRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="epaperRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="deviceInfo">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="screenInfo">
                                <xs:complexType>
                                    <xs:attribute name="width" type="xs:unsignedShort" use="required" />
                                    <xs:attribute name="height" type="xs:unsignedShort" use="required" />
                                    <xs:attribute name="dpi" type="xs:unsignedByte" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="osInfo">
                                <xs:complexType>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                    <xs:attribute name="version" type="xs:decimal" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="appInfo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="newspaperName" type="xs:string" />
                                        <xs:element name="version" type="xs:decimal" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="id" type="xs:string" use="required" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="getPages">
                    <xs:complexType>
                        <xs:attribute name="editionDefId" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="publicationDate" type="xs:date" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>